<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
</head>
<body style="background: rgb(252,252,252);">
<main class="page lanidng-page" style="background: rgb(255, 255, 255);">
    <section class="portfolio-block block-intro" style="padding: 60px;">
        <div class="container">
            <div class="border rounded-circle avatar" data-bs-hover-animate="pulse" style="background-image: url(&quot;assets/img/avatars/wahba.jpg&quot;); width: 300px; height: 275px; box-shadow: 0px 0px 20px 0px #3f4926; border-style: none;"></div>
            <div class="about-me">
                <p class="text-center" style="font-family: Lato, sans-serif;">Hello! I am <strong>Abdelrahman<em>.</em></strong> I work as full stack developer ,with <em>asp.net MVC</em> and <em>Bootstrap</em> . I have passion for software engineering,and building professional web apps.</p>
                <a class="btn btn-outline-primary"
                   role="button" href="#">Hire me</a>
            </div>
        </div>
    </section>
    <section class="portfolio-block photography">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/nature/image5.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/nature/image2.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/tech/image4.jpg"></a></div>
            </div>
        </div>
    </section>
    <section class="portfolio-block call-to-action border-bottom">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center content">
                <h3>Like what you see?</h3><button class="btn btn-outline-primary btn-lg" type="button">Hire me</button>
            </div>
        </div>
    </section>
    <section class="portfolio-block skills" style="padding: 11px;" id="skills">
        <div class="container">
            <div class="heading">
                <h2>Special Skills</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card special-skill-item border-0" style="height: 266px;">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-world-outline bg-primary" style="background: #2dc6d6;"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Web Development</h3>
                            <h4 class="text-capitalize bg-primary organization"><strong>asp.net&nbsp;</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>MVC</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>OOP</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>hTML</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>cSS</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>Java script</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>ajax</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>jquery</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>API</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>bootstrap</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>Software engineering</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>git</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0" style="height: 266px;">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-android-bulb bg-primary" style="background: #60dd49;"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Problem Solving</h3>
                            <h4 class="text-capitalize bg-primary organization"><strong>C</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>C++</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>c#</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>java</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>data structure</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>algorithms</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>creative thinking</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>debugging</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0" style="height: 266px;">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-pulse-strong bg-primary" style="background: #60dd49;"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Data analysis</h3>
                            <h4 class="text-capitalize bg-primary organization"><strong>python</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>excel</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>SQL</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>Spread&nbsp; Sheets</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>data analysis</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>pandas</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>numpy</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>pivot tables</strong></h4>
                            <h4 class="text-capitalize bg-primary organization"><strong>data visualization</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>