<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CV - Brand</title>
    <meta property="" content="">
   
</head>

<body>
    <main class="page cv-page">
        <section class="portfolio-block cv">
            <div class="container">
                <div class="work-experience group">
                    <div class="heading">
                        <h2 class="text-center">Work Experience</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>freelancing</h3>
                                <h4 class="organization"><strong>Freelancer</strong></h4>
                                <h4 class="organization"><strong>خمسات</strong></h4>
                                <h4 class="organization"><strong>خمسات</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="education group">
                    <div class="heading">
                        <h2 class="text-center">Education</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-7">
                                <h3>High education</h3>
                                <h4 class="organization">Faculty of computer science and AI Helwan University&nbsp;&nbsp;</h4>
                            </div>
                            <div class="col-6 col-md-5"><span class="period">09/20017 - 05/2021</span></div>
                        </div>
                    </div>
                </div>
                <div class="education group">
                    <div class="heading">
                        <h2 class="text-center">Certificates</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-11 col-xl-7">
                                <h3>Data Camp Machine Learning for everyone&nbsp;</h3>
                                <h4 class="organization" style="background: #1b6aee;">Data camp</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xl-7"><img src="../../assets/img/Screenshot 2020-11-02 094050.png.jpg" style="height: 200px;"></div>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="skills portfolio-info-card">
                                <h2>Skills</h2>
                                <h3>asp.net mvc</h3>
                                <div class="progress">
                                    <div class="progress-bar bg-success" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span class="sr-only">90%</span></div>
                                </div>
                                <h3>problem solving</h3>
                                <div class="progress">
                                    <div class="progress-bar bg-success" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span class="sr-only">90%</span></div>
                                </div>
                                <h3>C#</h3>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"><span class="sr-only">70%</span></div>
                                </div>
                                <h3>python</h3>
                                <div class="progress">
                                    <div class="progress-bar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"><span class="sr-only">70%</span></div>
                                </div>
                                <h3>frontend </h3>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>
                                </div>
                                <h3>Data analysis</h3>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60%</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-info portfolio-info-card">
                                <h2>Contact Info</h2>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-person icon"></i></div>
                                    <div class="col-9"><span>Abdelrahman khaled</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-ios-telephone icon"></i></div>
                                    <div class="col-9"><span>+20 01146830796</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-at icon"></i></div>
                                    <div class="col-9 col-xl-10"><span>abdelrahman.khaledg6949@mail.com</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-code icon"></i></div>
                                    <div class="col-9 col-xl-10"> 
                                            @Html.ActionLink("projects", "Index", "Projects",new{},new{style="color:rgb(1,4,6)"})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
</body>

</html>